body {
    background-color: black;
}
.player {
    background-color: white;
    height: 5vh;
    width: 7px;
    position: absolute;
    transition: top 0.1s;
}
#ball {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.1s;
    top: 50%;
    left: 50%;
}